apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: componenta-devfile-sample-go-basic-private-devfile-nested-73bq
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-ilej-tenant/mc-golang-nested/componenta-devfile-sample-go-basic-private-devfile-nested-73bq@sha256:34fb6d7c029ed2c621f0737c1f4fb774be5903083a9127e26f71d3a17da55abe
        name: my-go
        resources: {}
status: {}
